<h3><%= l(:label_sumary_employees) %></h3>
<table class="invoices-stat">
  <tr>
    <th><%= l(:label_womans) %></th>
    <td class="sum"><%= woman_employees %></td>
  </tr>
  <tr>
    <th><%= l(:label_man) %></th>
    <td class="sum"><%= man_employees %></td>
  </tr>
  <tr>
    <th><%= l(:label_total) %></th>
    <td class="sum"><%= employees_count %></td>
  </tr>
  <tr class="delimiter"><td colspan="2"><hr></td></tr>
</table>
