<style type="text/css">
  h2.title {
    text-align: center
  }

  .date {
    padding-right: 20%;
    font-weight: bold;
  }

  /*    .container-body {
        border: 2px solid #000;
      }*/
  /***** Tables *****/
  table.list, .table-list {
    border: 1px solid #e4e4e4;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 4px;
  }

  table.list th, .table-list-header {
    background-color: #EEEEEE;
    padding: 4px;
    white-space: nowrap;
    font-weight: bold;
  }

  table.list td {
    text-align: center;
    vertical-align: top;
    padding-right: 10px;
  }

  table.list td.id {
    width: 2%;
    text-align: center;
  }

  table.list td.name, table.list td.ni, table.list td.subject, table.list td.comments, table.list td.roles {
    text-align: left;
  }

  table.list td.tick {
    width: 15%
  }

  table.list td.checkbox {
    width: 15px;
    padding: 2px 0 0 0;
  }

  table.list td.checkbox input {
    padding: 0px;
  }

  table.list td.buttons, div.buttons {
    width: 15%;
    white-space: nowrap;
    text-align: right;
  }

  table.list td.buttons a, div.buttons a {
    margin-right: 0.6em;
  }

  table.list td.buttons img, div.buttons img {
    vertical-align: middle;
  }

  table.list td.reorder {
    width: 15%;
    white-space: nowrap;
    text-align: center;
  }

  table.list table.progress td {
    padding-right: 0px;
  }

  table.list caption {
    text-align: left;
    padding: 0.5em 0.5em 0.5em 0;
  }

  #role-permissions-trackers table.list th {
    white-space: normal;
  }

  .table-list-cell {
    display: table-cell;
    vertical-align: top;
    padding: 2px;
  }

  table.list tbody td, tr:hover td {
    border: solid 1px #ddd;
  }

  table.list thead th {
    border: 1px solid #ddd;
  }

  table.list thead th.short {
    max-width: 64px;
    word-wrap: break-word;
    text-align: center;
    white-space: normal;
  }

  table.list thead th.medium {
    max-width: 90px;
    word-wrap: break-word;
    text-align: center;
    white-space: normal;
  }

</style>
<meta charset="utf-8">
<div class="container">
  <div class="container-header">
    <h2 class="title"> <%= l(:label_employee_list) %></h2>
    <p>
      <%= l(:label_year).capitalize %>: <span class="date"><%= date[:year] %></span>
      <%= l(:label_month).capitalize %>: <span class="date"><%= date[:month] %> </span>
      <%= l(:field_day).capitalize %>: <span class="date"><%= date[:day] %></span>
    </p>
  </div>
  <div class="container-body">
    <table class="list">
      <thead>
      <tr>
        <th class="short"><%= l(:export_label_number) %></th>
        <th class="medium"><%= l(:label_name) %></th>
        <th class="medium"><%= l(:field_ni) %></th>
        <th class="short"><%= l(:field_age) %></th>
        <th class="short"><%= l(:field_gender) %></th>
        <th class="large"><%= l(:field_employee_template) %></th>
        <th class="large"><%= l(:field_department) %></th>
        <th class="medium"><%= l(:field_employee_email) %></th>
        <th class="medium"><%= l(:field_employee_telephone) %></th>
      </tr>
      </thead>
      <tbody>
      <% employees.each_with_index do |employee, index| %>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= index  + 1 %></td>
          <td><%= employee.name %></td>
          <td><%= employee.ni %></td>
          <td><%= employee_age(employee.birthday) %></td>
          <td><%= employee.gender %></td>
          <td><%= employee.employee_template.name %></td>
          <td><%= employee.department.name %></td>
          <td><%= !employee.email.present? ? l(:value_not_identify) : employee.email %></td>
          <td><%= !employee.telephone.present? ? l(:value_not_identify) : employee.telephone %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>




