<%= stylesheet_link_tag '../dist/css/scoped-twbs', plugin: 'human_resources' %>
<%= stylesheet_link_tag '../font-awesome/css/font-awesome.min', plugin: 'human_resources' %>
<%= stylesheet_link_tag 'responsive', plugin: 'human_resources' %>
<%= stylesheet_link_tag 'style.css', plugin: 'human_resources' %>

<%= render(partial:  'headers/header_employees', locals: { tab: 'employees' }) %>
<%= render partial:  'action_menu' %>
<h2><%= l(:label_employee_file) %></h2>

<div class="twbs">
  <div class="page-wrapper">
    <div class="content">
      <div class="col-md-12">
      <div class="card-box profile-header ">
        <div class="row">
          <div class="col-md-12">
            <div class="profile-view">

              <div class="profile-img-wrap">
                <div class="profile-img">
                  <% if @employee.avatar.present? %>
                    <%= image_tag url_for(controller: 'employees', action: 'show_avatar', id: @employee), class: 'photo', alt: '' %>
                  <% else %>
                    <%= image_tag ('/plugin_assets/human_resources/images/person.png'), class: 'photo-small', alt: '' %>
                  <% end %>
                </div>
              </div>
              <div class="profile-basic">
                <div class="row">
                  <div class="col-md-4">
                    <div class="profile-info-left">
                      <h3 class="user-name m-t-0 mb-0"><%= @employee.name %></h3>
                      <h4 class="text-muted"><%= l(:field_employee_template) %>: <%= @employee.employee_template.name %></h4>
                      <h5 class="text-muted"><%= l(:field_ni) %>: <%= @employee.ni %></h5>
                      <h5 class="text-muted"><%= l(:field_age) %>: <%= employee_age(@employee.birthday) %></h5>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <ul class="personal-info">
                      <li>
                        <span class="title"><%= l(:field_telephone) %>:</span>
                        <span class="text"><%= !@employee.telephone.present? ? l(:value_not_identify) : @employee.telephone %></span>
                      </li>
                      <li>
                        <span class="title"><%= l(:field_email) %>:</span>
                        <span class="text"><%= !@employee.email.present? ? l(:value_not_identify) : @employee.email %></span>
                      </li>
                      <li>
                        <span class="title"><%= l(:field_race) %>:</span>
                        <span class="text"><%= @employee.race %></span>
                      </li>
                      <li>
                        <span class="title"><%= l(:field_gender) %>:</span>
                        <span class="text"><%= @employee.gender %></span>
                      </li>
                      <li>
                        <span class="title"><%= l(:field_salary_card) %>:</span>
                        <span class="text"><%= !@employee.salary_card.present? ? l(:value_not_identify) : @employee.salary_card %></span>
                      </li>
                      <li>
                        <span class="title"><%= l(:field_contract_type) %>:</span>
                        <span class="text"><%= !@employee.employee_contract_type.present? ? l(:value_not_identify) : @employee.employee_contract_type.name %></span>
                      </li>
                    </ul>
                  </div>.
                  <div class="col-md-4">
                    <ul class="personal-info">
                      <li>
                        <span class="title"><%= l(:field_department) %>:</span>
                        <span class="text"><%= @employee.department.name %></span>
                      </li>
                      <li>
                        <span class="title"><%= l(:field_job_init_date) %>:</span>
                        <span class="text"><%= format_date(@employee.job_init_date) %></span>
                      </li>
                      <li>
                        <span class="title"><%= l(:field_job_due_date) %>:</span>
                        <span class="text"><%= !@employee.job_due_date.present? ? l(:value_not_identify) : format_date(@employee.job_due_date) %></span>
                      </li>
                      <li>
                        <span class="title"><%= l(:field_personal_address) %>:</span>
                        <span class="text"><%= !@employee.address.present? ? l(:value_not_identify) : @employee.address %></span>
                      </li>
                      <li>
                        <span class="title"><%= l(:field_active) %>:</span>
                        <span class="text"><%= check_box_tag "active", @employee.active, @employee.active == true, disabled: true %></span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      <div class="col-md-12 row" style="padding-top: 50px;">
        <div class="col-md-12">
          <%= render partial: 'employee_salary_keys/list_of_salary_keys' %>
        </div>
        <div class="col-md-12">
          <%= render partial: 'employee_work_experiences/list_of_experiences' %>
        </div>
        <div class="col-md-12">
          <%= render partial: 'employee_trainings/list_of_training' %>
        </div>
        <div class="col-md-12">
          <%= render partial: 'employee_educationals/list_of_educational_data' %>
        </div>
        <div class="col-md-12">
          <%= render partial: 'employee_diseases/list_of_diseases' %>
        </div>
      </div>
  <% other_formats_links do |f| %>
    <%= f.link_to 'PDF', :url => {action: :show}, target: '_blank' %>
  <% end %>

  <div style="clear:both;"></div>
</div>
<%# end if @invoice.stakeholder_entry %>

<%# html_title "#{l(:label_invoice)} ##{@invoice.number}" %>

<% content_for :sidebar do %>
<%#= render partial:  'head_right_panel' %>
<%#= render partial:  'right_panel' %>
<% include_calendar_headers_tags %>
<% end %>