<h3 class="title"><%= l(:label_work_experience) %></h3>

<% if params[:action] == "edit_experience" || params[:action] == "update_experience" %>
  <h4><%= l(:label_employee) + ": " + @employee.name %><br/></h4>

  <%= labelled_form_for :employee_work_experience, @work_experience,
                        :url => {action: 'update_experience',
                                 id: params[:id],
                                 wexp_id: @work_experience.id},
                        :remote => true, method: :patch do |f| %>

    <%= render partial:  'experience_form', :locals => {:f => f} %>
    <p class="buttons">
      <%= submit_tag l(:button_edit), name:  nil %>
      <%= submit_tag l(:button_cancel), name:  nil, :onclick => "hideModal(this);", :type => 'button' %>
    </p>
  <% end %>
<% else %>
  <h4><%= l(:label_employee) + ": " + @employee.name %><br/></h4>
  <%= labelled_form_for :employee_work_experience, @work_experience,
                        :url => {action:  "create_experience"},
                        :remote => true do |f| %>

    <%= render partial:  'experience_form', :locals => {:f => f} %>
    <p class="buttons">
      <%= submit_tag l(:button_create), name:  nil %>
      <%= submit_tag l(:button_cancel), name:  nil,
                     :onclick => "hideModal(this);",
                     :type => 'button' %>
    </p>
  <% end %>
<% end %>