<fieldset class="">
  <legend><%= l(:label_employee_educational) %>
    <% if User.current.allowed_to?({controller: 'employees', action: 'edit'}, nil, :global => true) %>
      <%= link_to(image_tag('add.png', :style => 'vertical-align: middle;'),
                  {controller: 'employee_educationals', action: 'new_educational_data'},
                  :remote => true, :method => 'get', :tabindex => 200, style: "float: right;") %>
    <% end %>
  </legend>
  <div class="card-box" style="display: block;">
    <div>
      <div class="lab-item-panel">

      </div>
    </div>
    <div class="experience-box">
      <ul class="experience-list">
        <% if @employee.educationals.any? %>
          <% @employee.educationals.each do |edu| %>
            <li>
              <div class="experience-user">
                <div class="before-circle"></div>
              </div>
              <div class="experience-content">
                <div class="timeline-content">
                  <h5><span class="name"><%= l(:field_institution) %>:</span>
                    <span class="text-muted"> <%= edu.institution %></span></h5>
                  <h5><span class="name"><%= l(:field_speciality) %>
                    : </span><span class="text-muted"> <%= edu.speciality %></span></h5>
                  <h5><span class="name"><%= l(:field_start_date) %>-<%= l(:field_complete_date) %>
                    : </span><span class="text-muted"><%= format_date(edu.start_date) %>
                    - <%= format_date(edu.complete_date) %></span></h5>
                  <h5><span class="name"><%= l(:field_education_level) %>
                    : </span><span class="text-muted"><%= edu.employee_education_level.name %></span></h5>
                </div>
              </div>
              <% if User.current.allowed_to?({controller: 'employees', action: 'edit'}, nil, :global => true) %>
                <div class="info invoice-info" style="text-align: right;">
                  <a class="btn btn-sm btn-default"
                     href="/employee/<%= params[:id] %>/edit_educational_data/<%= edu.id %>/" role="button"
                     title="<%= l(:update_button_label) %>" data-remote="true">
                    <span class="glyphicon glyphicon-edit"></span>
                  </a>
                  <a class="btn btn-sm btn-default"
                     href="/employee/<%= params[:id] %>/destroy_educational_data/<%= edu.id %>" data-method="delete" role="button" data-confirm="<%= (l(:will_be_deleted_message)).to_s %>"
                     title="<%= l(:delete_button_label) %>">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                </div>
              <% end %>
            </li>
          <% end %>
        <% else %>
          <p class="nodata"><%= l(:label_no_data) %></p>
        <% end %>
      </ul>
    </div>

  </div>
</fieldset>