<fieldset class="">
  <legend><%= l(:label_salary_and_aditional_pay) %>
    <% if User.current.allowed_to?({controller: 'employees', action: 'edit'}, nil, :global => true) %>
      <%= link_to(image_tag('add.png', :style => 'vertical-align: middle;'),
                  {controller: 'employee_salary_keys', action: 'new_salary_key'},
                  :remote => true, :method => 'get', :tabindex => 200, style: "float: right;") %>
    <% end %>
  </legend>
  <div class="card-box" style="display: block;">
    <div>
      <div class="lab-item-panel">
      </div>
    </div>
    <div class="experience-box">
      <ul class="experience-list">
        <li>
          <div class="experience-user">
            <div class="before-circle"></div>
          </div>
          <div class="experience-content">
            <div class="timeline-content">
              <h5><span class="name"><%= l(:field_job_salary) %>: $</span> <span class="text-muted">
                <%= @employee.employee_template.employee_salary_scale.salary %></span></h5>
            </div>
          </div>
        </li>
        <% if @employee.salary_keys.any? %>
          <% @employee.salary_keys.each do |sk| %>
            <li>
              <div class="experience-user">
                <div class="before-circle"></div>
              </div>
              <div class="experience-content">
                <div class="timeline-content">
                  <h5><span class="name"><%= l(:label_name) %>:</span> <span class="text-muted"> <%= sk.name %></span>
                  </h5>
                  <h5><span class="name"><%= l(:field_amount) %>: $</span>
                    <span class="text-muted"> <%= sk.amount %></span></h5>
                  <h5><span class="name"><%= l(:field_description) %>
                    : </span><span class="text-muted"><%= sk.description %></span></h5>
                </div>
              </div>
              <% if User.current.allowed_to?({controller: 'employees', action: 'edit'}, nil, :global => true) %>
                <div class="info invoice-info" style="text-align: right;">
                  <a class="btn btn-sm btn-default"
                     href="/employee/<%= params[:id] %>/edit_salary_key/<%= sk.id %>/" role="button"
                     title="<%= l(:update_button_label) %>" data-remote="true">
                    <span class="glyphicon glyphicon-edit"></span>
                  </a>
                  <a class="btn btn-sm btn-default"
                     href="/employee/<%= params[:id] %>/destroy_salary_key/<%= sk.id %>" data-method="delete"
                     role="button" data-confirm="<%= (l(:will_be_deleted_message)).to_s %>"
                     title="<%= l(:delete_button_label) %>">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                </div>
              <% end %>
            </li>
          <% end %>
        <% else %>
          <p class="nodata"><%= l(:label_no_aditional_pay) %></p>
        <% end %>
        <li>
          <div class="experience-user">
            <div class="before-circle"></div>
          </div>
          <div class="experience-content">
            <div class="timeline-content">
              <h5><span class="name"><%= l(:label_total) %>: $</span>
                <span class="text-muted"> <%= calculate_salary(@employee) %></span></h5>
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>
</fieldset>