<h3 class="title"><%= l(:label_salary_key) %></h3>

<% if params[:action] == "edit_salary_key" || params[:action] == "update_salary_key" %>
  <h4><%= l(:label_employee) + ": " + @employee.name %><br/></h4>

  <%= labelled_form_for :employee_salary_key, @salary_key,
                        :url => {action: 'update_salary_key',
                                 id: params[:id],
                                 sk_id: @salary_key.id},
                        :remote => true, method: :patch do |f| %>

    <%= render partial:  'salary_key_form', :locals => {:f => f} %>
    <p class="buttons">
      <%= submit_tag l(:button_edit), name:  nil %>
      <%= submit_tag l(:button_cancel), name:  nil, :onclick => "hideModal(this);", :type => 'button' %>
    </p>
  <% end %>
<% else %>
  <h4><%= l(:label_employee) + ": " + @employee.name %><br/></h4>
  <%= labelled_form_for :employee_salary_key, @salary_key,
                        :url => {action:  "create_salary_key"},
                        :remote => true do |f| %>

    <%= render partial:  'salary_key_form', :locals => {:f => f} %>
    <p class="buttons">
      <%= submit_tag l(:button_create), name:  nil %>
      <%= submit_tag l(:button_cancel), name:  nil,
                     :onclick => "hideModal(this);",
                     :type => 'button' %>
    </p>
  <% end %>
<% end %>