<%= render(partial:  'headers/header_departments', locals: { :tab=>'departments' }) %>
<h2><%= l(:label_department_new) %></h2>
<%= labelled_form_for @department, html: {method: :post} do |f| %>
  <%= error_messages_for 'department' %>
  <%= render partial:  'form', locals: {f: f} %>
  <%= submit_tag l(:button_save) %>
<% end %>

